<div ng-if="chaExams.state === 'exam'">
  <div style="text-align: center;">
    <i>Measuring background noise.</i>
  </div>
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div ng-if="chaExams.state === 'results'" class="cha-results">
  <third-octave-band-plot data="thirdOctaveBandData"></third-octave-band-plot>

  <ng-container ng-if="TOBType=='Vanilla'">
    <style>
      .tob-results-table {
        border-collapse: separate;
        white-space: nowrap;
        box-sizing: border-box;
        display: inline-table;
      }
      .tob-results-table th {
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: rgb(255, 255, 255);
        padding: 0.1em;
      }
      .tob-results-table td {
        padding: 0.1em;
      }
    </style>
  
    <div class="col-xs-12" style="text-align:center; font-weight:bold; font-size:1.5rem; padding-top:1rem; padding-bottom:0.5rem;">
      Calculated LAeq: {{LAeq.toFixed(2)}}
    </div>
  
    <div class="row" style="height:30vh; display:inline-block; overflow-y:scroll;">
      <table class="tob-results-table">
        <tbody>
          <thead>
            <tr>
              <th>F<br />(Hz)</th>
              <th>Level<br />(dB SPL)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="res in tableResults track by $index">
              <td>{{res.freq}}</td>
              <td>{{res.level.toFixed(2)}}</td>
            </tr>
          </tbody>
        </tbody>
      </table>
    </div>
  </ng-container>

  <br />
  <button type="button" class="button btn btn-default" ng-click="repeatChaExam()">Repeat background noise measurement</button>
  
  <div ng-if="dataError">
    Test Failed: {{dataError}}
  </div>
</div>