<!-- Exam Mode View -->

<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top tablet-interface">
  <div class="container-fluid">
    <div class="row">

      <!-- Exam Header -->
      <div ng-if="isexam" style="overflow:auto;flex: 1 1 auto;">
        <h1 ng-if="page.dm.title && dm.state.mode !== 'READY'" class="surveytitle truncate">
          {{page.dm.title}}
        </h1>
      </div>

      <!-- Admin Header -->
      <div ng-if="!isexam" style="overflow:auto;flex: 1 1 auto;">
        <h1 class="surveytitle truncate">
          <ng-transclude></ng-transclude>
        </h1>
      </div>

      <div class="text-right text-nowrap icons-right">

        <!-- resource indicators -->
        <indicators></indicators>

        <!-- task list -->
        <a href="#" class="surveytitle task-toggle" ng-if="tasks.numOngoing() > 0 && tasks.hidden">
          <span ng-click="tasks.unhide()"><i class="ion-clipboard"></i></span>
        </a>

        <!-- dropdown -->
        <span class="dropdown menu-center" uib-dropdown>
          <a href="#" class="surveytitle dropdown-toggle" uib-dropdown-toggle title="{{'Toggle Menu'|translate}}">
            <span class="glyphicon glyphicon-align-justify"></span>
          </a>
          <ul class="dropdown-menu dropdown-nav dropdown-pull-right" uib-dropdown-menu>
            <li><a href="#" ng-click="scanQrCodeandAutoConfig()"><img src="img/QR_code.png" style="max-width: 20px;margin: 0 auto;" alt="{{'QR Code logo'|translate}}" /> {{'Scan Configuration'|translate}}</a></li>
            <li><a href="#" ng-click="switchToExamView()"><i class="ion-edit"></i> {{'Exam View'|translate}}</a></li>
            <li ng-if="build !== 'heartrack'"><a href="#" ng-click="switchToAdminView()"><i class="ion-ios-gear"></i> {{'Admin View'|translate}}</a></li>
            <li ng-if="build !== 'heartrack'"><a href="#" ng-click="router.goto('DOCS')"><i class="ion-help-buoy"></i> {{'Documentation'|translate}} </a></li>

            <li ng-if="isexam && build !== 'heartrack'" class="divider"></li>

            <li ng-if="isexam && build !== 'heartrack'"><a href="#" ng-click="resetExam()"><i class="ion-close"></i> {{'Reset Exam and Discard Results'|translate}}</a></li>

            <li ng-if="isexam && build !== 'heartrack'" class="divider"></li>

            <li ng-if="isexam && build !== 'heartrack'"><a href="#" ng-click="submitPartialExam()"><i class="ion-refresh"></i> {{'Reset Exam and Submit Partial Results'|translate}}</a></li>

            <li ng-if="isexam" ng-if="page.dm.navMenu" class="divider"></li>
            <li ng-if="isexam" ng-repeat="navOption in page.dm.navMenu">
              <a href="#" ng-click="navigateToTarget(navOption)">
                <span></span>
                {{navOption.text}}
              </a>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</nav>
