<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<div class="row">
  <div class="col-xs-12">
    <span class="manual-audiometry-level-text"> Third Octave Bands Extended </span>
    <span class="manual-audiometry-level-text"> {{type}} </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- Record Button -->
      <button ng-class="recordButtonClass()" style="height: 64px; width: 200px; text-align: center;" ng-click="toggleRecording()">
        <span ng-if="!btnState">{{'Start Recording'|translate}}</span>
        <span ng-if="btnState === 1">{{'Stop Recording'|translate}}</span>
        <span ng-if="btnState === 2">{{'Recording'|translate}}</span>
      </button>
  </div>
</div>

<!-- continuous -->
<div ng-if="page.result['list_of_tobs']" class="row">
  <div class="col-xs-12">
    <span class="manual-audiometry-level-text"> Total Third Octave Bands: {{page.result['list_of_tobs'].length}} </span>
  </div>
</div>

<!-- svantek comparison -->
<style>
  .table-svantek-comparison {
    border-collapse: separate;
    white-space: nowrap;
    box-sizing: border-box;
    display: inline-table;
  }
  .table-svantek-comparison th {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    padding: 0.1em;
  }
  .table-svantek-comparison td {
    padding: 0.1em;
  }
</style>

<div ng-if="tableResults" class="col-xs-12" style="text-align:center; font-weight:bold; font-size:1.5rem; padding-top:1rem; padding-bottom:0.5rem;">
  Attenuation: {{attenuation_difference.toFixed(2)}}
</div>

<div ng-if="tableResults" class="row" style="height:40vh; display:inline-block; overflow-y:scroll;">
  <table class="table-svantek-comparison" rules="all">
    <tbody>
      <thead>
        <tr>
          <th>Freq<br />(Hz)</th>
          <th>Svantek<br />(dB SPL)</th>
          <th>MPlug<br />(dB SPL)</th>
          <th>Difference<br />(dB SPL)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="res in tableResults track by $index">
          <td>{{res.f}}</td>
          <td>{{res.svantekLevel.toFixed(2)}}</td>
          <td>{{res.mplugLevel.toFixed(2)}}</td>
          <td>{{res.difference.toFixed(2)}}</td>
        </tr>
      </tbody>
    </tbody>
  </table>
</div>

<div ng-if="svantekMPlugError" class="col-xs-12" style="text-align:center; font-weight:bold; font-size:1.5rem; padding-top:1rem; padding-bottom:0.5rem; color:red;">
  Error
</div>
