<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<h1> {{'Exam Complete'|translate}} </h1>

<results-warnings></results-warnings>

<h2 ng-if="page.dm.title">{{page.dm.title}}</h2>
<p>{{'Press'|translate}} <strong>{{'New Exam'|translate}}</strong> {{'to restart'|translate}}</p>
<div class="spacer"></div>

<div class="panel panel-default">
  <div class="panel-heading panel-title" id="examDetails">
      {{'Exam Details'|translate}}
  </div>
  <div class="panel-body">
    <table class="table" aria-labelledby="examDetails" style="margin: 0;">
      <tbody>
        <tr>
          <th class="align-right width-50">{{'Protocol'|translate}}:</th>
          <td>{{results.current.protocolName}}</td>
        </tr>
        <tr>
          <th class="align-right width-50">{{'Started at'|translate}}:</th>
          <td>{{results.current.testDateTime | date:'yyyy-M-dd H:mm:ss'}}</td>
        </tr>
        <tr>
          <th class="align-right width-50">{{'Elapsed Time'|translate}}:</th>
          <td>{{results.current.elapsedTime}}</td>
        </tr>
  
        <!-- Tabsint Server details -->
        <tr ng-if="results.current.siteId">
          <th class="align-right width-50">{{'Site ID'|translate}}:</th>
          <td>{{results.current.siteId}}</td>
        </tr>
        <tr ng-if="results.current.qrString">
          <th class="align-right width-50">{{'QR String'|translate}}:</th>
          <td>{{results.current.qrString}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="spacer"></div>

<div class="text-left" ng-if="disk.debugMode">
  <table class="table table-striped finalized-table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{'Page ID'|translate}}</th>
      <th scope="col">{{'Response'|translate}}</th>
      <!-- <th>Response Time</th> -->
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="response in results.current.testResults.responses track by $index">
      <td scope="row">{{$index+1}}</td>
      <td>{{response.presentationId.substr(0,15)}}</td>
      <td>{{response.response.substr(0,25)}}</td>
      <!-- <td>{{response.responseElapTimeMS}}</td> -->
      <td ng-switch on="{{response.correct}}">
        <span class="glyphicon glyphicon-ok" ng-switch-when="true"></span>
        <span class="glyphicon glyphicon-remove" ng-switch-when="false"></span>
        <span class="glyphicon glyphicon-minus" ng-switch-when="undefined"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
