

<div ng-if="router.page==='WELCOME'">
  <welcome-view></welcome-view>
</div>

<div ng-if="router.page==='EXAM'">
  <exam-view></exam-view>
</div>

<div ng-if="router.page==='ADMIN'">
  <admin-view></admin-view>
</div>
