<div ng-controller="ButtonGridResponseAreaCtrl">
  <div class="button-grid">
    <table>
      <tr ng-repeat="row in rows">
        <td ng-repeat = "choice in row.choices" >
          <div ng-controller="BasicChoiceController" ng-style="{{spacing}}">
            <button ng-if="!(choice.image)" type="button" 
			ng-style="{'font-size':choice.fontSize,'background':(choice.backgroundColor)||(choice.disable&&'#cccccc'),'color':(choice.textColor)||(choice.disable&&'#666666')}"
			ng-class="
			{
                  'btn btn-default btn-block':true,
                  'btn-default active' : (!gradeResponse && !showCorrect) && chosen(),
                  'btn-disabled' : gradeResponse || showCorrect|| buttonDisabled,
                  'btn-success' : (gradeResponse || showCorrect) && chosen() && isCorrect(),
                  'btn-danger' : (gradeResponse || showCorrect) && chosen() && !isCorrect(),
                  'btn-faded' : showCorrect && !isCorrect() && !chosen()|| buttonDisabled
			} 
			" 
		  ng-bind="label" ng-click="!choice.disable&&choose()" name="{{label}}"></button>

            <button ng-if="(choice.image)" style="border:none; background-color: transparent;"
				ng-click="!choice.disable&&choose()">
				<img alt="" ng-src="{{choice.image.path}}" style="width: {{choice.image.width}}px; height: {{choice.image.height}}px"/>
			</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>