
<br />

<uib-accordion close-others="false">

  <!-- Protocols Table -->
  <div uib-accordion-group class="panel panel-default" is-open="isOpenProtocol">
    <uib-accordion-heading>
      {{'Protocols'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": isOpenProtocol, "glyphicon-chevron-down": !isOpenProtocol}'></i>
    </uib-accordion-heading>
    <div class="panel-body text-left">

      <div ng-if="devices.diskSpace < 200">
        <span class="glyphicon glyphicon-exclamation-sign warn-red"></span>
        {{'The device has less than 200 MB of disk space left. Please make more disk space available before adding more protocols.'|translate}}
      </div>

      <table class="table fixed">
        <thead>
          <tr>
            <th scope="col" class="row-Name">{{'Name'|translate}}</th>
            <th scope="col" class="row-Version">{{'Version'|translate}}</th>
            <th scope="col" class="row-Date">{{'Date'|translate}}</th>
            <!-- <th class="row-Server">{{'Server'|translate}}</th> -->
          </tr>
        </thead>

        <tbody>
          <!-- non admin protocols -->
          <tr ng-repeat="p in disk.protocols | orderBy : 'name' track by $index" ng-if="!p.admin" ng-class="pclass(p)" ng-click="select(p)">
            <td class="row-Name" scope="row">{{p.name}}</td>
            <td class="row-Version">{{p.version}}</td>
            <td class="row-Date">{{p.server === 'gitlab' ? p.date.replace('T', ' ').split('.')[0] : p.date}} </td>
            <!-- <td class="row-Server">{{p.server}}</td> -->
          </tr>

          <tr></tr>

          <!--  admin protocols -->
          <tr ng-repeat="p in disk.protocols | orderBy : 'name' track by $index" ng-if="p.admin && disk.debugMode"  ng-class="pclass(p)" ng-click="select(p)">
            <td class="row-Name" scope="row">{{p.name}}</td>
            <td class="row-Version">{{p.version}}</td>
            <td class="row-Date">{{p.date}}</td>
            <!-- <td class="row-Server">{{p.server}}</td> -->
          </tr>
        </tbody>
      </table>

      <!-- Protocol validation -->
      <div class="row">
        <div class="col-xs-6"><label for="validateProtocols">{{'Validate protocols:'|translate}}</label></div>
        <div class="col-xs-2"><input id="validateProtocols" type="checkbox" ng-model="disk.validateProtocols" /></div>
        <div class="col-xs-2"></div>
        <div class="col-xs-1"><a href="#" title="{{'Protocols help' | translate}}" uib-popover-html="validatePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <div class="row pad-top">
        <div class="col-xs-4">
          <button ng-disabled="!selected || tasks.disabled" ng-if="!protocol.isRoot(selected)" class="btn btn-primary btn-block" ng-click="load()"> <i class="ion-compose"></i> {{'Load'|translate}}</button>
          <button ng-disabled="!selected || tasks.disabled" ng-if="protocol.isRoot(selected)" class="btn btn-default btn-block" ng-click="load()"> <i class="ion-refresh"></i> {{'Reload'|translate}}</button>
        </div>
        <div class="col-xs-4">
          <button ng-if="!(selected.server === 'localServer' || selected.server === 'developer')" ng-disabled="!selected || tasks.disabled" class="btn btn-success btn-block" ng-click="update()"><i class="ion-android-sync"></i> Update</button>
        </div>
        <div class="col-xs-4">
          <button ng-if="selected.server !== 'developer'" ng-disabled="!selected || tasks.disabled" class="btn btn-danger btn-block" ng-click="delete()"><i class="ion-trash-a"></i> {{'Delete'|translate}} </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Media Repos Table -->
  <div uib-accordion-group class="panel panel-default" is-open="isOpenMedia" ng-if="disk.mediaRepos.length > 0">
    <uib-accordion-heading>
      {{'Media'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": isOpenMedia, "glyphicon-chevron-down": !isOpenMedia}'></i>
    </uib-accordion-heading>
    <div class="panel-body text-left">

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">{{'Name'|translate}}</th>
            <th scope="col">{{'Version'|translate}}</th>
            <th scope="col">{{'Date'|translate}}</th>
            <th scope="col"><a title="{{'Media help' | translate}}" uib-popover-html="mediaTablePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="m in disk.mediaRepos track by $index" ng-class="mclass(m) ? 'active-row': ''">
            <td>
              <button ng-if="m.server === 'gitlab'" ng-disabled="tasks.disabled" class="btn btn-success btn-sm" ng-click="updateMedia(m)"><i class="ion-android-sync"></i></button>
            </td>
            <td>{{m.name}}</td>
            <td>{{m.version}}</td>
            <td>{{m.date.replace('T', ' ').split('.')[0]}}</td>
            <td>
              <button class="btn btn-danger btn-sm" ng-disabled="tasks.disabled" ng-click="deleteMedia(m)"><i class="ion-trash-a"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <!-- Local Protocols -->
  <div uib-accordion-group class="panel panel-default" is-open="isOpenSource">
    <uib-accordion-heading>
      {{'Source'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": isOpenSource, "glyphicon-chevron-down": !isOpenSource}'></i>
    </uib-accordion-heading>
    <div class="panel-body text-left">

      <!-- Protocol Source -->
      <div class="row pad-top">
        <div class="col-xs-4 admin-labels" translate> Server: </div>
        <div class="col-xs-6"></div>
        <div class="col-xs-1"><a href="#" title="{{'Server help' | translate}}" uib-popover-html="serverPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>
      <div class="row pad-top">
        <div class="col-xs-4">
          <button class="btn btn-primary btn-block"  ng-class="disk.server === 'gitlab' ? 'active' : '' " ng-click="changeServer('gitlab')">Gitlab</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-primary btn-block"  ng-class="disk.server === 'localServer' ? 'active' : '' " ng-click="changeServer('localServer')" translate>Device Storage</button>
        </div>
      </div>
      <br /><br />

      <!-- Local Server -->
      <div ng-if="disk.server === 'localServer'">
        <div class="row pad-top">
          <div class="col-xs-3"><label for="directory">{{'Directory'|translate}}:</label></div>
          <!-- <div class="col-xs-5"><input id="directory" type="text" enter-close class="form-control" placeholder="Directory" ng-model="disk.servers.localServer.protocolDir" /></div> -->
          <div class="col-xs-3">
            <button class="btn btn-default btn-block" ng-disabled="tasks.disabled" ng-click="add()"> <i class="ion-plus-round"></i> {{'Add'|translate}}</button>
          </div>
          <div class="col-xs-1"><a href="#" title="{{'Directory help' | translate}}" uib-popover-html="localAddPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>
      </div>

      <!-- Gitlab -->
      <div ng-if="disk.server === 'gitlab'">

        <div class="row pad-top">
          <div class="col-xs-3"><label for="repository2">{{'Repository:'|translate}}</label></div>
          <div class="col-xs-6 admin-input"><input id="repository2" type="text" enter-close class="form-control" placeholder="Name" ng-model="disk.servers.gitlab.repository" /></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"><a href="#" title="{{'Repository help' | translate}}" uib-popover-html="gitlabAddPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <div class="row pad-top">
          <div class="col-xs-3"><label for="version2">{{'Version:'|translate}}</label></div>
          <div class="col-xs-6 admin-input"><input id="version2" type="text" enter-close class="form-control" placeholder="Latest" ng-model="disk.servers.gitlab.version" /></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"><a href="#" title="{{'Version help' | translate}}" uib-popover-html="gitlabAddVersionPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <div class="row tags-shift">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
              <i>{{'Tracking by '|translate}}</i><i ng-if="disk.gitlab.useTagsOnly"><strong>{{'tags'|translate}}</strong></i><i ng-if="!disk.gitlab.useTagsOnly"><strong>{{'commits'|translate}}</strong></i>
          </div>
        </div>

        <!-- Add -->
        <div class="row pad-top">
          <div class="col-xs-3"></div>
          <div class="col-xs-5 admin-input">
            <button class="btn btn-default btn-block" ng-disabled="!disk.servers.gitlab.repository" ng-click="add()"><i class="ion-plus-round"></i> {{'Add'|translate}}</button>
          </div>
        </div>
        <br />

        <!-- Show Advanced -->
        <div class="row showhideSection">
          <div class="col-xs-12 text-center">
            <a href="#" ng-click="panes.protocols.advancedGitlab = !panes.protocols.advancedGitlab">
              <span ng-if="panes.protocols.advancedGitlab" translate>Hide Advanced Settings <i class="ion-chevron-up"></i></span>
              <span ng-if="!panes.protocols.advancedGitlab" translate>Show Advanced Settings <i class="ion-chevron-down"></i></span>
            </a>
          </div>
        </div>

        <div ng-if="panes.protocols.advancedGitlab">
          
          <!-- Repository name -->
          <div class="row pad-top">
            <div class="col-xs-4 protocol-tag-alignment protocol-advanced-labels"><label for="host" translate>Host:</label></div>
            <div class="col-xs-6"><input id="host" type="text" enter-close class="form-control" placeholder="Host" ng-model="disk.servers.gitlab.host" /></div>
            <div class="col-xs-1"><a href="#" title="{{'Host help' | translate}}" uib-popover-html="gitlabHostPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
          </div>

          <!-- Token -->
          <div class="row pad-top">
            <div class="col-xs-4 protocol-tag-alignment protocol-advanced-labels"><label for="token" translate>Token:</label></div>
            <div class="col-xs-6"><input id="token" type="text" enter-close class="form-control" placeholder="Token" ng-model="disk.servers.gitlab.token" /></div>
            <div class="col-xs-1"><a href="#" title="{{'Token help' | translate}}" uib-popover-html="gitlabTokenPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
          </div>

          <!-- Namespace -->
          <div class="row pad-top">
            <div class="col-xs-4 protocol-tag-alignment protocol-advanced-labels"><label for="group" translate>Group:</label></div>
            <div class="col-xs-6"><input id="group" type="text" enter-close class="form-control" placeholder="Group" ng-model="disk.servers.gitlab.group" /></div>
            <div class="col-xs-1"><a href="#" title="{{'Group help' | translate}}" uib-popover-html="gitlabNamespacePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
          </div>

          <!-- Reset -->
          <div class="row pad-top">
            <div class="col-xs-4"></div>
            <div class="col-xs-6" class="text-right"><small><a href="#" ng-click="gitlab.initDefault()" translate>Reset to Default</a></small></div>
            <div class="col-xs-1"><a href="#" title="{{'Reset to Default help' | translate}}" uib-popover-html="serverDefaultPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
          </div>

          <hr />

          <!-- Use Tags/Commits -->
          <div class="row pad-top">
            <div class="col-xs-6"><label for="onlyTrack" translate>Only Track <b>Tags:</b></label></div>
            <div class="col-xs-2"><input id="onlyTrack" type="checkbox" ng-model="disk.gitlab.useTagsOnly" /></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-1"><a href="#" title="{{'Only Track Tags help' | translate}}" uib-popover-html="gitlabUseTagsPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
          </div>

          <!-- Use a separate repo for results -->
          <div class="row pad-top">
            <div class="col-xs-6"><label for="changeResultsLocation" translate>Change Results Location:</label></div>
            <div class="col-xs-2"><input id="changeResultsLocation" type="checkbox" ng-model="disk.gitlab.useSeparateResultsRepo" ng-change="gitlab.toggleSeparateResultsRepo()" /></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-1"><a href="#" title="{{'Change Results Location help' | translate}}" uib-popover-html="gitlabUseSeperateResultsRepoPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
          </div>

          <!-- Results Group -->
          <div class="row pad-top" ng-if="disk.gitlab.useSeparateResultsRepo">
            <div class="col-xs-4"><label for="resultsGroup" translate>Results Group:</label></div>
            <div class="col-xs-6"><input id="resultsGroup" type="text" enter-close class="form-control" placeholder="Namespace" ng-model="disk.servers.gitlab.resultsGroup" /></div>
            <div class="col-xs-1"><a href="#" title="{{'Results Group help' | translate}}" uib-popover-html="gitlabResultsGroupPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
          </div>

          <!-- Results Repo -->
          <div class="row pad-top" ng-if="disk.gitlab.useSeparateResultsRepo">
            <div class="col-xs-4"><label for="resultsRepository" translate>Results Repository:</label></div>
            <div class="col-xs-6"><input id="resultsRepository" type="text" enter-close class="form-control" placeholder="Repository" ng-model="disk.servers.gitlab.resultsRepo" /></div>
            <div class="col-xs-1"><a href="#" title="{{'Results Repository help' | translate}}" uib-popover-html="gitlabResultsRepoPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
          </div>
        </div>

      </div>
    </div>
  </div>

<uib-accordion>
