<div class="legend">
  <h3>Legend:</h3>
  <ul>
    <li>DNC = did not converge</li>
    <li>(x+) = hearing potentially beyond the calibrated range</li>
    <li>(-x) = hearing potentially better than the calibrated range</li>
  </ul>
</div>