<div ng-controller="AudiometryTableCtrl">
  <div ng-if="resultsList">
    <uib-tabset active="'horizontal'">

      <!-- Default / Detailed -->
      <uib-tab heading="Detailed" index="'horizontal'" active="horizontal_wise">
        <br />
        <table class="table-audiometry table-striped table-layout-fixed" ng-repeat="channel in channels">
          <caption ng-class="{'caption-left':channel === 'Left', 'caption-right':channel === 'Right', 'caption-binaural': channel === 'Binaural'}">
            <span>{{channel}}</span>
          </caption>
          <tbody>

            <!-- regular table -->
            <tr ng-if="screening==false">
              <th ng-if="examType != 'BHAFT'" scope="row">{{'Frequency'|translate}}<br />(kHz)</th>
              <th ng-if="examType == 'BHAFT'" scope="row">{{'Frequency'|translate}}<br />(Hz)</th>
              <td ng-repeat="frequency in frequencies[channel]">{{frequency}}</td>
            </tr>
            <tr ng-if="screening==false">
              <th scope="row"><span>{{LevelType}}</span><br />({{LevelUnits}})</th>
              <td ng-repeat="level in levels[channel] track by $index"><span>{{level || level == 0?level:"-"}}</span></td>
            </tr>
            <tr ng-if="screening==false && masking">
              <th scope="row"><span>{{'Masking'|translate}}</span><br />({{maskingUnits}})</th>
              <td ng-repeat="maskingLevel in maskingLevels[channel] track by $index"><span>{{maskingLevel}}</span></td>
            </tr>

            <!-- screener -->
            <tr ng-if="screening==true">
              <th scope="row">{{'Frequency'|translate}}<br />(kHz)</th>
              <td ng-repeat="frequency in frequencies[channel] track by $index">{{frequency}}</td>
            </tr>
            <tr ng-if="screening==true" ng-repeat="threshold in screenerThresholds">
              <th scope="row"><span>{{threshold}}</span><br />({{LevelUnits}})</th>
              <td ng-repeat="screen in screens[channel][threshold] track by $index"><span>{{screen}}</span></td>
            </tr>
            
            <!-- Svantek -->
            <tr ng-if="showSvantek">
              <th scope="row">
                Dosimeter L<sub>Fc</sub><br />(dB SPL)
              </th>
              <td ng-repeat="level in svantek_results[channel]['bandLevel'] track by $index">{{level}}</span></td>
            </tr>
            <tr ng-if="showSvantek">
              <th scope="row">
                Dosimeter LA<sub>eq</sub><br />(dB SPL)
              </th>
              <td ng-repeat="leq in svantek_results[channel]['leqA'] track by $index">{{leq}}</span></td>
            </tr>

            <!-- SLM -->
            <tr ng-if="showSLMNoise">
              <th scope="row">
                <span>SLM</span>  
                <span>L<sub>Fc</sub></span>
                <span>(dB SPL)</span>
              </th>
              <td ng-repeat="level in slm_results[channel]['bandLevel'] track by $index">{{level}}</span></td>
            </tr>
            <tr ng-if="showSLMNoise">
              <th scope="row">
                <span>SLM</span>
                <span>LA<sub>eq</sub></span>
                <span>(dB SPL)</span>
              </th>
              <td ng-repeat="leq in slm_results[channel]['LeqA'] track by $index">{{leq}}</span></td>
            </tr>

          </tbody>

        </table>
      </uib-tab>

      <!-- Full / Summary Results -->
      <uib-tab ng-if="examType != 'BHAFT'" heading="Summary" index="'vertical'" active="vertical_tab">
        <br />
        <table class="table-audiometry table-striped table-rotate">
          <tbody ng-repeat="channel in channels">

            <!-- regular table -->
            <tr ng-if="(channel == 'Left' || channel == 'Binaural') && screening==false">
              <th scope="row">{{'Frequency'|translate}}<br />(kHz)</th>
              <td ng-repeat="frequency in frequencies_combined track by $index">{{frequency}}</td>
            </tr>
            <tr ng-if="screening==false">
              <th scope="row" ng-class="{'caption-left':channel === 'Left', 'caption-right':channel === 'Right', 'caption-binaural': channel === 'Binaural'}">
                {{channel}}
                <br />
                {{LevelType}}
                <br />
                ({{LevelUnits}} {{masking==true ? '&nbsp;|&nbsp;'+maskingUnits : ''}})
              </th>
              <td ng-class="{'caption-left':channel === 'Left', 'caption-right':channel === 'Right', 'caption-binaural': channel === 'Binaural'}" 
                  ng-repeat="(key,level) in levels_combined[channel]">
                <span>{{level != undefined?level:"-"}}</span>
                <span ng-if="masking">&nbsp;|&nbsp;{{maskingLevels[channel][$index]}}</span>
              </td>
            </tr>

            <!-- screener -->
            <tr ng-if="(channel == 'Left' || channel == 'Binaural') && screening==true">
              <th scope="row">{{'Frequency'|translate}}<br />(kHz)</th>
              <td ng-repeat="frequency in replicateArray(frequencies[channel],screenerThresholds.length) track by $index">{{frequency}}</td>
            </tr>
            <tr ng-if="(channel == 'Left' || channel == 'Binaural') && screening==true">
              <th scope="row">
                {{'Threshold'}}
                <br />
                ({{LevelUnits}})
              </th>
              <td ng-class="{'caption-left':channel === 'Left', 'caption-right':channel === 'Right', 'caption-binaural': channel === 'Binaural'}" 
                  ng-repeat="screen in screensFullThreshold[channel] track by $index">
                <span>{{screen}}</span>
              </td>
            </tr>
            <tr ng-if="screening==true">
              <th scope="row" ng-class="{'caption-left':channel === 'Left', 'caption-right':channel === 'Right', 'caption-binaural': channel === 'Binaural'}">
                {{channel}}
                <br />
                {{'Result'}}
              </th>
              <td ng-class="{'caption-left':channel === 'Left', 'caption-right':channel === 'Right', 'caption-binaural': channel === 'Binaural'}" 
                  ng-repeat="screen in screensFullResult[channel] track by $index">
                <span>{{screen}}</span>
              </td>
            </tr>

            <!-- Svantek -->
            <tr ng-if="showSvantek">
              <th scope="row">Dosimeter L<sub>Fc</sub><br />(dB SPL)</th>
              <td ng-repeat="(key,level) in svantek_combined['bandLevel'][channel] track by $index"><span>{{level?level:"-"}}</span></td>
            </tr>
            <tr ng-if="showSvantek">
              <th scope="row">Dosimeter LA<sub>eq</sub><br />(dB SPL)</th>
              <td ng-repeat="(key,leq) in svantek_combined['leqA'][channel] track by $index"><span>{{leq?leq:"-"}}</span></td>
            </tr>

            <!-- SLM -->
            <tr ng-if="showSLMNoise">
              <th scope="row">
                <span>SLM</span>  
                <span>L<sub>Fc</sub></span>
                <span>(dB SPL)</span>
              </th>
              <td ng-repeat="(key,level) in slm_combined['bandLevel'][channel] track by $index"><span>{{level?level:"-"}}</span></td>
            </tr>
            <tr ng-if="showSLMNoise">
              <th scope="row">
                <span>SLM</span>
                <span>LA<sub>eq</sub></span>
                <span>(dB SPL)</span>
              </th>
              <td ng-repeat="(key,leq) in slm_combined['leqA'][channel] track by $index"><span>{{leq?leq:"-"}}</span></td>
            </tr>

          </tbody>

        </table>
      </uib-tab>
      
    </uib-tabset>
  </div>
</div>

<!-- legend include -->
<div style="display: flex;margin-bottom: 20px;" ng-include="'scripts/components/response-areas/audiometry/legend.html'"></div>
