<div>

  <!-- <div>
    <p>Presentation {{presentationCount}} / {{maxPresentationCount}}</p>
  </div> -->

  <div ng-if="hideExamProperties !== 'during' && hideExamProperties !== 'always'" style="text-align: center; vertical-align: middle">
    <!-- display audiometry-properties -->
    <audiometry-properties></audiometry-properties>
  </div>

  <div ng-if="requireResponse" class="row response">
    <h3>
      {{'Did you hear a tone?'|translate}}
    </h3>
    <br /><br />
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <button type="button"
              class="btn btn-default btn-block"
              ng-disabled="yesDisabled"
              ng-click="submitUserInput(true)">{{'Yes'|translate}}</button>
    </div>
    <div class="col-xs-4">
      <button type="button"
              class="btn btn-default btn-block"
              ng-disabled="noDisabled"
              ng-click="submitUserInput(false)">{{'No'|translate}}</button>
    </div>
    <div class="col-xs-2"></div>
  </div>

  <div ng-if="!requireResponse" style="text-align: center; vertical-align: middle">
    <button ng-disabled="responseDisabled" ng-click="submitUserInput(true)" class="btn btn-cha">{{'Tap if you hear a tone'|translate}}</button>
  </div>

</div>
