<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div class="modal-header">
    Change Admin PIN
</div>
<div class="modal-body">
    <label for="pin">Please enter a new numerical PIN:</label>
    <input id="pin" type="number" ng-model="pin" pattern="[0-9]*" autofocus="true"/><br />
    <!--{{pin}}-->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save(pin)">{{'Save'|translate}}</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">{{'Cancel'|translate}}</button>
</div>
