<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div class="modal-header">
    Change Encryption Password
</div>
<div class="modal-body">
    Please enter a new PASSWORD:
    <input ng-model="password" autofocus="true" ng-minlength="4"/><br />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save(password)">{{'Save'|translate}}</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">{{'Cancel'|translate}}</button>
</div>
