
<div>

  <div>
    {{presentationCount}} / {{chaExams.examProperties.NumberOfPresentations}}</br>
    <em>({{nCorrect}} {{'correct'|translate}})</em>
  </div> 

   <form name="myForm">
    <div class="fp-wrapper pad-bottom">
      <div class="fp-selection" ng-class="{
        'fp-selection-incorrect' : fpSelection1 === '0',
        'fp-selection-correct' : fpSelection1 === '1'}">
        <div><img src="{{imagePath1}}" alt="" /></div>
      </div>
      <div class="fp-selection" ng-class="{
        'fp-selection-incorrect' : fpSelection2 === '0',
        'fp-selection-correct' : fpSelection2 === '1'}">
        <div><img src="{{imagePath2}}" alt="" /></div>
      </div>
      <div class="fp-selection" ng-class="{
        'fp-selection-incorrect' : fpSelection3 === '0',
        'fp-selection-correct' : fpSelection3 === '1'}">
        <div><img src="{{imagePath3}}" alt="" /></div>
      </div>
      <div>
        <button type="button" class="button btn btn-default" translate="" ng-click="deleteResponse()"><span class="glyphicon glyphicon-arrow-left"></span> {{'Delete'|translate}}</button>
      </div>
    </div>
    
     <!-- Connection Buttons -->
    <div class="row pad-top">
      <div class="col-xs-12 pad-top">
        <input aria-label=="I heard a bird" class="fp-selection-main" type="button" style="background:url('img/frequency-pattern-bird.png') center no-repeat;background-size:122px;" ng-disabled="buttonsDisabled" ng-click="addResponse(2)"></button>
      </div>
      <div class="col-xs-12 pad-top">
        <input aria-label="I heard a frog" class="fp-selection-main"  type="button" style="background:url('img/frequency-pattern-frog.png') center no-repeat;background-size:110px;" ng-disabled="buttonsDisabled" ng-click="addResponse(1)"></button>
      </div>
      <div class="col-xs-12 pad-top">
        <button aria-label="Don't know" class="fp-dont-know" type="button" style="background:url('img/frequency-pattern-unknown.png') center no-repeat;background-size:110px;" ng-disabled="buttonsDisabled" ng-click="addResponse(0)"></button>
      </div>
    </div>
  </form>

</div> 