

<br />

<results-warnings></results-warnings>

<uib-accordion close-others="false">

  <div uib-accordion-group class="panel panel-default" is-open="isOpenTests">
    <uib-accordion-heading>
      {{'Completed Tests'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": isOpenTests, "glyphicon-chevron-down": !isOpenTests}'></i>
    </uib-accordion-heading>
    <div class="panel-body text-left">
      <small> {{'Press a result in the table below to see more details.'|translate}} </small>

      <br /><br />

      <table  class="table fixed table-striped">
        <thead>
          <tr>
            <th scope="col" class="row-Name">{{'Protocol'|translate}}</th>
            <!-- <th class="row-Counts">{{'# Pres.'|translate}}</th> -->
            <th scope="col" class="row-Date results">{{'Started'|translate}}</th>
            <th scope="col" class="row-Date results">{{'Duration'|translate}}</th>
            <!-- <th class="row-Server results">{{'Server'|translate}}</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in results.completedTests track by $index" ng-click="viewResult($index)">
            <td class="row-Name">{{r.testResults.protocol.name.substring(0,15)}}</td>
            <!-- <td class="row-Counts">{{r.nResponses}}</td> -->
            <td class="row-Date results"><small>{{r.testDateTime | date:'yyyy-M-dd HH:mm:ss' }}</small></td>
            <td class="row-Date results"><small>{{r.elapsedTime | date:'HH:mm:ss' }}</small></td>
            <!-- <td class="row-Server results">{{r.testResults.protocol.server}}</td> -->
          </tr>
        </tbody>
      </table>

      <div class="row pad-top">
        <div class="col-xs-4 admin-labels">
          <button type="button" ng-if="!disk.preventUploads" ng-disabled="tasks.disabled" class="btn btn-success btn-block" ng-click="results.upload()">
            <i class="ion-upload"></i> {{'Upload'|translate}}
          </button>
        </div>
        <div class="col-xs-4">
          <button type="button" ng-if="!disk.preventExports" ng-disabled="sqLite.numLogs.results === 0 || tasks.disabled" class="btn btn-primary btn-block" ng-click="results.export()">
            <span class="glyphicon glyphicon-floppy-disk"></span> {{'Export'|translate}}
          </button>
        </div>
        <div class="col-xs-4">
          <button type="button" ng-if="disk.debugMode" ng-disabled="sqLite.numLogs.results === 0 || tasks.disabled" class="btn btn-danger btn-block" ng-click="deleteAll()">
            <i class="ion-trash-a"></i> {{'Delete'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Upload Summary -->
  <div uib-accordion-group class="panel panel-default" is-open="isOpenExported">
    <uib-accordion-heading>
      {{'Recently Exported'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": isOpenExported, "glyphicon-chevron-down": !isOpenExported}'></i>
    </uib-accordion-heading>
    <div class="panel-body text-left">

      <table  class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{'Protocol'|translate}}</th>
            <th scope="col">{{'Started'|translate}}</th>
            <th scope="col">{{'Uploaded'|translate}}</th>
            <th scope="col">{{'Storage'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in disk.uploadSummary">
            <td>{{r.protocolName.substring(0,15)}}</td>
            <td><small>{{r.testDateTime | date:'yyyy-M-dd H:mm:ss' }}</small></td>
            <td><small>{{r.uploadedOn | date:'yyyy-M-dd H:mm:ss' }}</small></td>
            <td>{{r.output}}</td>
          </tr>
        </tbody>
      </table>

      <small><i>{{'Only the last 30 exported results are shown.'|translate}}</i></small>
    </div>
  </div>

</uib-accordion>
