<div ng-controller="MultipleInputResponseAreaCtrl" class="table-form-max-width">

  <fieldset ng-disabled="reviewDisabled">

    <div class="row" ng-repeat="(itemIdx, item) in list track by $index" style="margin-bottom: {{page.dm.responseArea.verticalSpacing}}px;">

      <div class="col-xs-6" style="justify-content: {{page.dm.responseArea.textAlign}};">
        <label for="{{'itemID' + $index}}">{{item.text}}</label>
      </div>

      <div class="col-xs-6">

      <!-- text -->
      <input id="{{'itemID' + $index}}" ng-if="item.inputType === 'text'" ng-model="page.result.response[itemIdx]" class="form-control"></input>

        <!-- dropdown -->
        <div class="dropdown" uib-dropdown ng-if="item.inputType === 'dropdown'">

          <!-- button when the dropdown is closed -->
          <button
            id="{{'itemID' + $index}}"
            type="button"
            class="btn btn-default btn-block dropdown-toggle"
            uib-dropdown-toggle
            data-content="{{page.result.response[itemIdx]!=undefined ? page.result.response[itemIdx] : 'Select'}}">
            {{page.result.response[itemIdx]!=undefined ? page.result.response[itemIdx] : "Select"}} <span class="caret caret-position" style="margin-left: 0%"></span>
          </button>

          <!-- list elements when open -->
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="option in item.options"><a href="#" ng-click="selectResponse(itemIdx, option)">{{option}}</a></li>
          </ul>
        </div>

        <!-- number -->
        <input id="{{'itemID' + $index}}" ng-if="item.inputType === 'number'" type="number"
                    ng-model="page.result.response[itemIdx]" class="form-control"></input>

        <!-- date -->
        <input id="{{'itemID' + $index}}" ng-if="item.inputType === 'date'"
                    ng-attr-max="{{item.dateProperties && item.dateProperties.maxDate && item.dateProperties.maxDate === 'today' ? today : item.dateProperties && item.dateProperties.maxDate ? item.dateProperties.maxDate : undefined}}"
                    ng-attr-min="{{item.dateProperties && item.dateProperties.minDate && item.dateProperties.minDate === 'today' ? today : item.dateProperties && item.dateProperties.minDate ? item.dateProperties.minDate : undefined}}"
                    type="date" ng-model="page.result.response[itemIdx]" class="form-control"></input>

        <!-- multi-dropdown -->
        <div id="{{'itemID' + $index}}" ng-dropdown-multiselect ng-if="item.inputType === 'multi-dropdown'" selected-model="multiDropdownModel[itemIdx]" options="multiDropdownJson[itemIdx]" extra-settings="{ checkBoxes: true, buttonClasses: 'btn btn-default btn-block dropdown-toggle' , }" events="selectMultiResponse(itemIdx)"></div>


    </fieldset>

    <!-- optional "review" and edit buttons -->
    <div class="row" ng-if="review">
        <div class="col-xs-12">
            <button ng-if="!reviewDisabled" class="btn btn-secondary" type="button" id="review"
                ng-click="enableReview(true)">Review</button>
            <button ng-if="reviewDisabled" class="btn btn-secondary" type="button" id="edit"
                ng-click="enableReview(false)">Edit</button>
        </div>

    </div>

</div>
