<div ng-controller="BekesyResponseAreaCtrl">
<style>  

		.buttonReleased {
		  display: inline-block;
		  padding: 10px 20px;
		  font-size: 10px;
		  cursor: pointer;
		  text-align: center;
		  text-decoration: none;
		  outline: none;
		  color: #000;
		  background-color: #FF0000;
		  border: none;
		  border-radius: 30px;
		  box-shadow: 0 7px #ffffff;
		}

		.buttonPressed {
		  display: inline-block;
		  padding: 10px 20px;
		  font-size: 10px;
		  cursor: pointer;
		  text-align: center;
		  text-decoration: none;
		  outline: none;
		  color: #000;
		  border: none;
		  border-radius: 30px;
		
		  background-color: #970202;
		  box-shadow: 0 5px #666;
		  transform: translateY(4px);
		}

		.button {  
		border: none;  
		color: white;  
		padding: 0px;  
		width:400px;  
		height:243px;
		text-align: center;   
		text-decoration: none;   
		display: inline-block;   
		font-size: 31px;   
		margin: 4px 4px;   
		cursor: pointer;   
		}  
	</style>  
	<br />
	<br />
	<br />
	<br />
	<div ng-style="div_style">
		<button id="bekesy_button" class="button buttonReleased" ng-class="bClass" on-touch-end="myFunction()">{{bText}}</button> 
	</div>
	<!-- <table style="width: 100%; margin: auto; color:rgb(0,0,255); font-size: 15px; text-align: left;border: 0;">  -->
	
		<!-- <tr style="border: 0">  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
			<!-- </td>  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
			<!-- </td>  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
				<!-- <button id="bekesy_button" class="button buttonReleased" ng-class="bClass" on-touch-end="myFunction()">{{bText}}</button>  -->
			<!-- </td>  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
			<!-- </td>  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
			<!-- </td>  -->
		<!-- </tr>  -->
		<!-- <tr style="border: 0">  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
			<!-- </td>  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
			<!-- </td>  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
			<!-- </td>  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
			<!-- </td>  -->
			<!-- <td style="width: 20%;text-align:left;color:rgb(0,0,255);padding:10px;font-size:20px;border: 0">  -->
			<!-- </td>  -->
		<!-- </tr>  -->
	<!-- </table> -->
</div>