<style>
    .table-dpoae {
        width: 95%;
        white-space: nowrap;
        box-sizing: border-box;
    }
    .table-dpoae th, td {
        padding: 0.1em;
    }
</style>

<div ng-controller="dpoaeTableCtrl">
    <table class="table-dpoae">
        <tbody>
            <tr>
                <th>F2<br />(kHz)</th>
                <th>DP Level<br />(dB SPL)</th>
                <th>Noise<br />(dB SPL)</th>
                <th>SNR<br />(dB)</th>
                <th>F1<br />(dB SPL)</th>
                <th>F2<br />(dB SPL)</th>
            </tr>
            <tr ng-repeat="res in tableResults">
                <td>{{res.f2}}</td>
                <td>{{res.level}}</td>
                <td>{{res.noiseFloor}}</td>
                <td>{{res.snr}}</td>
                <td>{{res.f1Amp}}</td>
                <td>{{res.f2Amp}}</td>
            </tr>
        </tbody>
    </table>
</div>