
<!-- DEACTIVATED RIGHT NOW -->
<div class="panel-body" ng-if="false">
  <div class="row" ng-if="sqLite.numLogs.results > 0">
    <span class="glyphicon glyphicon-exclamation-sign warn-darkorange" ng-show="!!(sqLite.numLogs.results < results.dm.queuedResultsWarnLength)"></span>
    <span class="glyphicon glyphicon-exclamation-sign warn-red" ng-show="!!(sqLite.numLogs.results >= results.dm.queuedResultsWarnLength)"></span>
    <span ng-show="!!(sqLite.numLogs.results < 2)">{{sqLite.numLogs.results}} result is saved locally but have not been uploaded - upload now or turn on auto-upload.</span>
    <span ng-show="!!(sqLite.numLogs.results > 1)">{{sqLite.numLogs.results}} results are saved locally but have not been uploaded - upload now or turn on auto-upload.</span>
  </div>
  <div class="row" ng-if="results.checkStoredResults()">
    <span class="glyphicon glyphicon-exclamation-sign warn-red"></span>
    One or more locally stored exams are old and should be uploaded or deleted
  </div>
</div>
